body {
/* 	width: 100%; height: 100%; */
	background-color: #e555ac;
	font-family: Raleway, sans-serif;
	margin:0;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 97vh;
	transition: background-color 0.75s ease-in-out;
}
.container div {
	font-size: 1.5rem;
	text-shadow: 1px 1px 2px black;
	color: ghostwhite;
}
#colorBox {
	display: block;
	position: relative;
	left: 10px;top: 7px;
	width: 350px; height: 350px;
  margin: 0 auto;
  padding: 1rem;
	background-color: e555ac;
	transition: background-color 0.75s ease-in-out;
}
input[type=text] {
	width: 500px;	height: 50px;
	font-size: 3rem;
	color: ghostwhite;
	text-align: center;
	text-shadow: 1px 1px 2px black;
	background: transparent;

	margin: 15px auto;
	border-width: 0;
	border-color: ghostwhite;
	border-bottom-width: 1px;
}
input:focus{
    outline: none;
}
input::placeholder {
    opacity: .5;
}
p#msg {
  color: white;
  font-style: italic;
  text-shadow: 1px 1px 2px black;
}
